{{ define "main" }}
<article class="post hentry">
    <header class="entry-header">
        <h1 class="entry-title">{{ .Title }}</h1>
        <div class="entry-meta">
            {{ with .Params.author }}<span class="byline">{{ . }}</span>{{ end }}
            {{ if not .Date.IsZero }}
            <span class="posted-on">
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Day }} {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
            </span>
            {{ end }}
        </div>
    </header>

    <div class="entry-content">
        {{ .Content }}
    </div>
</article>
{{ end }}
