<aside id="secondary" class="sidebar widget-area">
    <section class="widget widget-search">
        <form class="search-form" role="search" method="get" action="{{ "/" | relURL }}">
            <label class="screen-reader-text" for="sidebar-search">Recherche</label>
            <input id="sidebar-search" class="search-field" type="search" name="s" placeholder="Recherche">
            <button class="search-submit" type="submit">Recherche</button>
        </form>
    </section>

    <section class="widget widget-recent-posts">
        <h3 class="widget-title widget-title-pencil">Articles récents</h3>
        <ul>
            {{ range first 5 (where .Site.RegularPages "Type" "post") }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </section>

    <section class="widget widget-archives">
        <h3 class="widget-title widget-title-clock">Archives</h3>
        <ul>
            {{ range (where .Site.RegularPages "Type" "post").GroupByDate "January 2006" }}
            {{ $firstPage := index .Pages 0 }}
            <li>
                <a href="{{ "/post/" | relURL }}">
                    {{ index $.Site.Data.months (printf "%d" $firstPage.Date.Month) }} {{ $firstPage.Date.Year }}
                </a>
            </li>
            {{ end }}
        </ul>
    </section>

</aside>
